[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mosaic
Comment=Web Browser
GenericName=Web Browser
Exec=Mosaic %f
Icon=Mosaic
Categories=Network;WebBrowser;
MimeType=text/html;
Terminal=false
